    <!-- Load JavaScript modules -->
    <script src="/js/utils.js"></script>
    <script src="/js/navigation.js?v=2025-12-29-3"></script>
    <script src="/js/chatDebug.js"></script>
    <script src="/js/audioCommands.js"></script>
    <script src="/js/gifCommands.js"></script>
    <script src="/js/animatedTextCommands.js?v=2025-12-29-1"></script>
    <script src="/js/bitTriggers.js"></script>
    <script src="/js/obsToken.js"></script>
    <script src="/js/designCanvas.js?v=2025-12-29-1"></script>
    <script src="/js/imageManager.js"></script>
    <script src="/js/dashboardInit.js"></script>
